.pages-title {
  text-align: center;
}
.pages-title a {
  color: inherit;
}
.pages-title a:hover {
  text-decoration: none;
}
.pages-title img {
  vertical-align: bottom;
  opacity: 0.8;
}
.pages-footer small {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}

strong,
strong > em {
  font-weight: normal;
  font-style: normal;
  background-color: #ffa;
}

body {
  background: url(/public/images/topbar.png) repeat-x rgba(168, 165, 168, 0.43) !important;
  padding-top: 8px;
}

.featured-wrapper {
  background-color: #ffa;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2),0 -3px 8px rgba(0,0,0,0.1);
  width: 17.5rem;
  float: left;
  margin-top: 1rem;
  cursor: pointer;
}
.featured-card {
  padding: 0.3rem 1rem;
}
.featured-card .picture {
  float: left;
  width: 4rem;
}
.featured-card .info {
  float: left;
  width: 11rem;
}
.featured-card .info span {
  display: block;
}
.repo-wrapper {
  background-color: #fff;
  border-radius: 4px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2),0 -3px 8px rgba(0,0,0,0.1);
}

.repo-card {
  position: relative;
  min-height: 20rem;
}
.badge-info {
  position: absolute;
  right: 0;
  top: 0;
  background: #f0f0f0;
  padding: 0.1rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
}
.badge-info a,
.badge-info a:hover {
  color: #999;
  text-decoration: none;
}
.badge-info a:hover {
  color: inherit;
}
.badge-info img {
  vertical-align: text-bottom;
}
#badge-image-markup {
  background: #f0f0f0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 0.8rem;
  padding: 1rem 2rem 0.5rem 2rem;
  border-bottom: 4px solid #ddd;
}
#badge-image-markup h3 {
  margin-top: 0;
}
#badge-image-markup label {
  float: left;
  width: 5rem;
}
#badge-image-markup input.url {
  width: 16rem;
  padding: 0.1rem;
}
.what-is-this {
  background-color: #f0f0f0;
  border-top: 4px solid #ddd;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}
.topbar,
.repo-info {
  padding: 0.3rem 1rem;
}
.repo-info .explanation {
  text-align: center;
  opacity: 0.7;
  font-size: 0.8rem;
  margin: 1rem;
}
.repo-info .explanation p {
  margin: 0;
}
.repo-links {
  margin-bottom: 1rem;
  background-color: #eee;
  text-align: center;
}
.repo-links ul {
  list-style-type: none;
  padding: 0;
}
.repo-links ul li {
  display: inline-block;
  margin-right: 1rem;
}
.repo-links ul li:last-child {
  margin-right: 0;
}

.repo-card .description {
  margin-top: 0.1rem;
  opacity: 0.7;
  font-size: 0.8rem;
}

img.github-logo {
  opacity: 0.7
}

.progress {
  height: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
}

.grade-circle-A,
.progress-bar-A {
  background-color: #00A300;
}
.grade-circle-B,
.progress-bar-B {
  background-color: #88DA0C;
}
.grade-circle-C,
.progress-bar-C {
  background-color: #EE6F47;
}
.grade-circle-U,
.progress-bar-U {
  background-color: #BB85F7;
}

.grade-circle {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
}
.grade-circle-big {
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 32px;
  line-height: 64px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
}

.grade-table {
  width: 100%;
}
.grade-table th {
  text-align: left;
  padding-left: 1rem;
}
.grade-table th,
.grade-table td:first-child {
  border-left: 4px solid #eee;
  color: #fff;
}
.grade-table td:last-child,
.grade-table td:first-child {
  width: 3rem;
  text-align: center;
}
.grade-table td:last-child img {
  opacity: 0.2;
  vertical-align: middle;
}
.grade-table td.path {
  word-wrap: break-word;
}
.grade-table td.path em { /* truncate separator */
  opacity: 0.5;
}
.grade-table tr.show_more td:first-child {
  border-left: 4px solid #ccc;
  color: #666;
}
.grade-table tr.more_object {
  display: none;
}

.grade-table-A th {
  background-color: #00A300;
}
.grade-table-A th {
  border-color: #00A300;
}
.grade-table-A td:first-child {
  border-left-color: #00A300;
}

.grade-table-B th {
  background-color: #88DA0C;
}
.grade-table-B th {
  border-color: #88DA0C;
}
.grade-table-B td:first-child {
  border-left-color: #88DA0C;
}

.grade-table-C th {
  background-color: #EE6F47;
}
.grade-table-C th {
  border-color: #EE6F47;
}
.grade-table-C td:first-child {
  border-left-color: #EE6F47;
}

.grade-table-U th {
  background-color: #BB85F7;
}
.grade-table-U th {
  border-color: #BB85F7;
}
.grade-table-U td:first-child {
  border-left-color: #BB85F7;
}


.footer {
  text-align: center;
}
.footer .imprint a {
  color: #999;
  font-size: 0.7rem;
}

.edit-file {
  background: url(/public/images/edit-file-on-github.png) #000;
  height: 80px;
  margin-bottom: 1rem;
}

.participate-box {
  background-color: #eee;
  padding: 0.7rem;
  font-size: 0.8rem;
  margin-top: 1rem;
  text-align: center;
}
.participate-box a {
  vertical-align: top;
}
.participate-box a img {
  vertical-align: text-bottom;
}

.disclaimer {
  text-align: center;
}

.everything-box {
  text-align: center;
  margin-top: 2rem;
}
.everything-box ul {
  list-style-type: none;
  padding: 0;
}
